
/*
@font-face {
  font-family: 'Webfont-Name';
  src: url('../assets/fonts/Webfont.woff2') format('woff2'),
       url('../assets/fonts/Webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
